body{
    background-color: #839D9A;
}

.cat {
    background-color: #BFD2BF;
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #7BB2D9;
}

.cats {
    display: flex;
}